/* Normal desktop (XL) :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop (LG-Dives) :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .main-manu ul li {
        margin: 0 13px;
    }
    .access-texts h3 {
        font-size: 36px;
    }

    .title-black h2 {
        font-size: 38px;
    }
    .newsletter-form input {
        width: 73%;
    }

}

 
/* Tablet desktop (MD-Dives) :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .header-transparent {
        padding: 25px 0;
    }
    .slider-text {
        margin-bottom: 20px;
    }
    .slider-text h2 {
        font-size: 60px;
        line-height: 70px;
    }
    .testimonial-img img {
        margin-left: 0;
    }
    .newsletter-form input {
        width: 70%;
    }

}

 
/* small mobile (XS-Dives):320px. */
@media (max-width: 767px) {
    .header-transparent {
        padding: 25px 0;
    }
    .slider-img img {
        max-width: 100%;
    }
    .slider-text {
        margin-bottom: 20px;
    }
    .slider-text h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .access-img img {
        max-width: 100%;
    }
    .section-title h2 {
        font-size: 33px;
    }
    .access-texts h3 {
        font-size: 28px;
    }
    .title-black h2 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .testimonial-img img {
        margin-left: 0;
    }

    .newsletter-text h2 {
        font-size: 21px;
        line-height: 33px;
    }
    .newsletter-form input {
        width: 100%;
        margin-bottom: 20px;
    }

    .newsletter-form button {
        padding: 0 60px;
    }

    .copyright p {
        font-size: 13px;
    }

    .footer-manu ul li {
        margin-left: 0;
        float: left;
        margin-right: 17px;
        margin-top: 20px;
    }
    
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
